*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header-wrapper{
	height: 200px;
	width: 100vw;
	background-color: gray;
}
.header{
	height: 100%;
	width: 80%;
	margin: 0 auto;
	background-color: whitesmoke;

}

.header>div{
	height: 50%;
	width: 100%;
	

}
.header .first-line{
	display: flex;
}
.header .first-line>div{
	height: 100%;
	width: 33.33%;
	background-color: yellow;
}
